/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');



/* common section */
body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 810px;
    margin: 73px;
}




/* header body part starts here */

header{
    background-color: rgb(16, 16, 104);
    min-width: 100%;
}


/* nav container section */


nav{
    display: flex;
    justify-content: space-between;
}

ul li {
    display: inline-block; 
}

ul li a{
    text-decoration: none;
    padding: 15px;
    text-align: center;
    color:rgb(252, 246, 252);
    margin-top: 11px;
    font-size: 1.2em;

}

ul li a:hover{
    background-color: rgb(253, 245, 245);
    color: darkmagenta;
    font-size: 1.3em;
}

.log-in{
    margin: 15px;
}

.log-in a{
    font-size: 1.2em;
    background-color: darkmagenta;
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
}

.fas{
    margin: 0px 6px;
}



/* header container section */



.header-container{
    display: flex;
    align-items: center;
    padding: 15px;
}

.header-info{
    margin-left: 50px;
}
.header-img{
    margin-right: 50px;
}

.header-info h1{
    font-size: 50px;
    color: cornsilk;
}
.header-info a, .highlights-title a{
    background-color: darkmagenta;
    color: white;
    padding: 8px 21px;
    text-decoration: none;
}


 .header-img img{
     max-width: 400px;
     max-height: 315px;
 }

 .header-container:hover .header-img{
     transform: scale(0.75);
     transition: transform 2s;
 }

 /* header body part ends here */


 /* main body part starts here */
 

 /* main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/* player section  */



.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 22px;
    grid-row-gap: 20px;
}

.player{
    width: 238px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0px 0px 4px;
}

.player:hover{
    transform: scale(0.9);
    background-color: black;
    color: blanchedalmond;
    transition: transform 1s, background-color 1s;
}

.player h3{
    font-size: 28px;
}


.player img{
    width: 216px;
    height: 185px;
}


/* best player section  */


.bestplayer{
    display: flex;
}

.highlights-image img{
    width: 410px;
    height: 308px;
}


/* video highlights section  */


.video-highlights{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* stats section  */


.score-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px;
    padding: 10px 5px;
}

.score-summary{
    display: flex;
    justify-content: space-evenly;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-image{
    margin-bottom: 6px;
}
hr{
    border: 1px solid gray;
    width: 60%;
    margin-top: 30px;
}
.result{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.result h1{
    font-size: 2em;
}
.score-table{
    display: flex;
    justify-content: space-evenly;
}


/* main body ends here  */


/* footer container starts here  */

.footerpart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerpart img{
    max-width: 348px;
    max-height: 80px;
}

/* footer container starts here  */


/* -----device below 688px ---------*/

/* ----media query---- */


@media only screen and (max-width: 688px){


    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-container{
        display: flex;
        flex-direction: column;
    }
    .header-info{
        margin-bottom: 20px;
    }

    .header-img img{
        width: 70%;
        margin-left: 20px;
        text-align: center;
    }

    .container{
        width: 100%;  
    }

    .players{
        grid-template-columns: repeat(1,1fr);
    }
    
    .player{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    

    .bestplayer{
        display: flex;
        flex-direction: column;
    }

    .highlights-title{
        margin-bottom: 10px;
    }
}


/* -----device below 689px and 991px ---------*/

/* ----media query---- */

@media only screen and (min-width:689px) and (max-width: 991px){


    .header-container{
        display: flex;
        flex-direction: column;
    }

    .header-info{
        margin-bottom: 20px;
    }

    .container{
        width: 100%;
    }

    .players{
        grid-template-columns: repeat(2,1fr);
    }
    

    .player{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .player img{
        width: 100%;
    }

}